BasedOnStyle: Google
IndentWidth: 2
ColumnLimit: 100
AlwaysBreakTemplateDeclarations: Yes

Cpp11BracedListStyle: true
AlignArrayOfStructures: Left

BreakBeforeBraces: Attach
BraceWrapping:
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  BeforeCatch: true
  BeforeElse: true
  SplitEmptyFunction: false

AllowShortBlocksOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
